name: faneX-ID Bot

on:
  issue_comment:
    types: [created]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write
  actions: write

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use faneX-ID Bot
        uses: faneX-ID/github-bot@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enabled: true

